<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bank Loan</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


  <div class="container">
    <h4>
        <b>Fill in the information</b>
    </h4>
    <ul>
        <form method="POST" action="/send" role="form" , name="form">




            <label for="creditPolicy">If the customer meets the credit underwriting criteria of LendingClub.com.</label>

            <input type="text" id="creditPolicy" name="creditPolicy" placeholder="">
            <br>

            <!-- --------------- -->

            <label for="purpose">The purpose of the loan</label>

            <select name="purpose">
                <option value="debt_consolidation">debt_consolidation</option>
                <option value="credit_card">credit_card</option>
                <option value="all_other">all_other</option>
                <option value="home_improvement">home_improvement</option>
                <option value="small_business">small_business</option>
                <option value="major_purchase">major_purchase</option>
                <option value="educational" selected>educational</option>
            </select>
            <br>

            <!-- --------------- -->


            <label for="interestRate">Interest rate of the loan</label>
            <input type="text" id="interestRate" name="interestRate" placeholder="11% as 0.11">
            <br>

            <!-- --------------- -->

            <label for="installment">The monthly installments owed by the borrower if the loan is funded.</label>

            <input type="text" id="installment" name="installment" placeholder="">
            <br>

            <!-- --------------- -->

            <label for="logAnnual"> The natural log of the self-reported annual income of the borrower.</label>

            <input type="text" id="logAnnual" name="logAnnual" placeholder="">
            <br>


            <!-- --------------- -->

            <label for="dti">The debt-to-income ratio of the borrower</label>

            <input type="text" id="dti" name="dti" placeholder="">
            <br>


            <!-- --------------- -->


            <label for="fico">TThe FICO credit score of the borrower.</label>

            <input type="text" id="fico" name="fico" placeholder="">
            <br>


            <!-- --------------- -->


            <label for="creditLine">The number of days the borrower has had a credit line.</label>

            <input type="text" id="creditLine" name="creditLine" placeholder="">
            <br>


            <!-- --------------- -->

            <label for="revolvingBalance">The borrower's revolving balance.</label>

            <input type="text" id="revolvingBalance" name="revolvingBalance" placeholder="">
            <br>


            <!-- --------------- -->



            <label for="revolvingUtilizationRate">The borrower's revolving line utilization rate</label>

            <input type="text" id="revolvingUtilizationRate" name="revolvingUtilizationRate" placeholder="">
            <br>


            <!-- --------------- -->

            <label for="inqLast6mths">The borrower's number of inquiries by creditors in the last 6 months.</label>

            <input type="text" id="rinqLast6mths" name="inqLast6mths" placeholder="">
            <br>


            <!-- --------------- -->


            <label for="delinq2yrs">The number of times the borrower had been 30+ days past due on a payment in the past 2 years.</label>

            <input type="text" id="delinq2yrs" name="delinq2yrs" placeholder="">
            <br>


            <!-- --------------- -->

            <label for="pubRec">The borrower's number of derogatory public records (bankruptcy filings, tax liens, or judgments).</label>

            <input type="text" id="pubRec" name="pubRec" placeholder="">
            <br>


            <!-- --------------- -->





            <input type="submit" value="Submit">
        </form>
    </ul>


</div>

</body>

</html>